body {
    background-color: purple;
    text-align: left;
    color: white;
    padding: 50px;
}
h1 {
    font-size: 8em;
    padding: 50px;
}
ul {
    background-color: silver;
    align-content: center;
    color: black;
}
p {
    color: fuchsia;
/*    padding: 50px;
    font-size: 2em;*/
}